@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Young+Serif&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  box-sizing: border-box;
}

.access-denied_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .access-denied_logo {
    font-family: 'Young Serif', sans-serif;
    display: flex;
    align-items: center;
    gap: 16px; 
    font-size: 2rem;
    margin-bottom: 32px;
  }

  .access-denied_alert {
    font-size: 1.5rem;
    color: #a3302c;
    font-weight: 700;
    margin-bottom: 16px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #40916d;
  box-shadow: 0 2px 4px #40916d9c;
  padding: 24px;

  button {
    padding: 4px;
  
    &:hover,
    &:active {
      cursor: pointer;
    }
  }

  .header_logo {
    font-family: 'Young Serif', sans-serif;
    display: flex;
    align-items: center;
    gap: 16px;
  
    a {
      font-family: inherit;
      font-size: 2rem;
      text-decoration: none;
      color: #333333;
      transition: text-shadow 0.2s;

      &:hover,
      &:active {
        text-shadow: 0 0 16px #40916d9c;
      }
    }
  }

  .header_user-container {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 0.9rem;

    a {
      text-decoration: none;
    }
  }
}

.button_primary {
  background-color: #40916d;
  padding: 8px 16px;
  border-radius: 4px;
  border: 2px solid #40916d;
  color: #ffffff;
  font-size: 1rem;

  &:hover,
  &:active {
    background-color: #ffffff;
    color: #40916d;
    cursor: pointer;

    a {
      color: #40916d;
    }
  }
  
  a {
    color: #ffffff;
    font-size: 1rem;
  }
}

.button_secondary {
  background-color: #ffffff;
  color: #40916d;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #40916d;
  font-size: 1rem;

  &:hover,
  &:active {
    background-color: #ebebeb;
  }
}

.button_delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px solid #333333;
  border-radius: 2px;

  &:hover,
  &:active {
    background-color: #d9544fb4;
    cursor: pointer;
  }
  
  img {
    height: 16px;
    width: 16px;
  }
}

.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}