@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Young+Serif&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  box-sizing: border-box; }

hr {
  margin: 64px 0; }

.access-denied_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .access-denied_container .access-denied_logo {
    font-family: 'Young Serif', sans-serif;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 2.5rem;
    margin-bottom: 32px; }
  .access-denied_container .access-denied_alert {
    font-size: 1.5rem;
    color: #a3302c;
    font-weight: 700;
    margin-bottom: 16px; }

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #40916d;
  box-shadow: 0 2px 4px #40916d9c;
  padding: 24px; }
  header button {
    padding: 4px; }
    header button:hover, header button:active {
      cursor: pointer; }
  header .header_logo {
    font-family: 'Young Serif', sans-serif;
    display: flex;
    align-items: center;
    gap: 16px; }
    header .header_logo a {
      font-family: inherit;
      font-size: 2rem;
      text-decoration: none;
      color: #333333;
      transition: text-shadow 0.2s; }
      header .header_logo a:hover, header .header_logo a:active {
        text-shadow: 0 0 16px #40916d9c; }
  header .header_user-container {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 0.9rem; }
    header .header_user-container a {
      text-decoration: none; }

main {
  min-height: 100vh;
  padding: 64px 20vw;
  background-color: #fcfcfc; }

.button_primary {
  background-color: #40916d;
  padding: 8px 16px;
  border-radius: 4px;
  border: 2px solid #40916d;
  color: #ffffff;
  font-size: 1rem; }
  .button_primary:hover, .button_primary:active {
    background-color: #ffffff;
    color: #40916d;
    cursor: pointer; }
    .button_primary:hover a, .button_primary:active a {
      color: #40916d; }
  .button_primary a {
    color: #ffffff;
    font-size: 1rem; }

.button_secondary {
  background-color: #ffffff;
  color: #40916d;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #40916d;
  font-size: 1rem; }
  .button_secondary:hover, .button_secondary:active {
    background-color: #ebebeb; }

.button_delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px solid #333333;
  border-radius: 2px; }
  .button_delete:hover, .button_delete:active {
    background-color: #d9544fb4;
    cursor: pointer; }
  .button_delete img {
    height: 16px;
    width: 16px; }

.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }
  .login_page .login_container {
    display: flex;
    flex-direction: column;
    gap: 16px; }
  .login_page #login_form {
    display: flex;
    flex-direction: column;
    gap: 8px; }

.homepage h3 {
  text-align: center;
  margin-bottom: 32px; }

.homepage_actions {
  display: flex;
  justify-content: center;
  gap: 32px; }
  .homepage_actions a {
    background-color: #ebebeb;
    border: 1px solid #40916d;
    border-radius: 4px;
    padding: 32px;
    text-decoration: none;
    box-shadow: 2px 2px 4px #40916dc2; }
    .homepage_actions a:hover {
      background-color: #40916d;
      color: #ffffff; }
    .homepage_actions a:active {
      transform: translateY(2px); }

.post-overview {
  border: 2px solid #ebebeb;
  border-left: 8px solid #40916d;
  border-radius: 4px;
  padding: 24px;
  margin: 24px 0;
  box-shadow: 2px 2px 4px #33333388; }
  .post-overview:hover, .post-overview:active {
    background-color: #ebebeb; }
  .post-overview .post-overview_title {
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 8px; }
  .post-overview .post-overview_metadata, .post-overview strong {
    color: #adadad;
    font-size: 0.9rem;
    margin-bottom: 16px; }
  .post-overview .post-overview_updated {
    color: #adadad;
    font-size: 0.9rem;
    font-style: italic; }
  .post-overview .post-overview_text {
    margin-bottom: 8px; }
  .post-overview .post-overview_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cdcdcd;
    padding: 4px; }
    .post-overview .post-overview_actions .actions {
      display: flex;
      gap: 8px; }
      .post-overview .post-overview_actions .actions .action_edit {
        padding: 4px;
        background-color: #40916d;
        border: 1px solid #000000;
        border-radius: 2px; }
        .post-overview .post-overview_actions .actions .action_edit:hover, .post-overview .post-overview_actions .actions .action_edit:active {
          background-color: #246e48; }
        .post-overview .post-overview_actions .actions .action_edit a {
          padding: 4px 8px;
          text-decoration: none;
          color: #ffffff;
          font-weight: 700; }
      .post-overview .post-overview_actions .actions .action_delete {
        background-color: #d9544f;
        border: 1px solid #000000;
        border-radius: 2px;
        color: #ffffff; }
        .post-overview .post-overview_actions .actions .action_delete:hover, .post-overview .post-overview_actions .actions .action_delete:active {
          background-color: #a3302c; }
      .post-overview .post-overview_actions .actions button {
        padding: 4px; }
        .post-overview .post-overview_actions .actions button:hover, .post-overview .post-overview_actions .actions button:active {
          cursor: pointer; }
  .post-overview .post-visibility_container {
    display: flex;
    align-items: center;
    gap: 8px; }
    .post-overview .post-visibility_container button {
      padding: 4px; }
      .post-overview .post-visibility_container button:hover, .post-overview .post-visibility_container button:active {
        cursor: pointer; }

#new-post_form {
  display: flex;
  flex-direction: column;
  gap: 8px; }

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px; }
  .input-group label {
    font-weight: 700;
    font-size: 1.2rem; }
  .input-group input {
    padding: 8px;
    font-size: 1.1rem; }
  .input-group textarea {
    padding: 8px;
    height: 200px;
    font-size: 1rem; }

.individual-comment_container {
  border-bottom: 1px solid #33333374;
  border-left: 1px solid #33333374;
  margin: 16px 0;
  padding: 8px;
  font-size: 0.9rem;
  border-radius: 4px; }
  .individual-comment_container:nth-child(even) {
    background-color: #f5f5f5bc; }
  .individual-comment_container .individual-comment_metadata {
    display: flex;
    align-items: center;
    gap: 8px; }
  .individual-comment_container .comment_author {
    font-weight: 700; }
  .individual-comment_container .comment_date {
    color: #707070; }
  .individual-comment_container .individual-comment_text {
    margin-top: 4px;
    font-size: 0.9rem; }

/*# sourceMappingURL=App.css.map */
